@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Dancing+Script&family=Raleway&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url('https://cdn.svgator.com/images/2022/06/SVG-background-animation.gif');
    color: rgb(102, 89, 89);
    font-family: 'Charmonman', cursive;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.9rem;
    border:solid black 3px;
    background: white;
    border-radius: 7px;
}
    .todo-input:hover{
        background-color: rgba(65, 69, 73, 0.24);
    }

form button {
    color: rgb(238, 196, 58);
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left:0.5rem;
}

form button:hover {
    color: rgb(60, 118, 151);
    background: rgba(46, 111, 165, 0);
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    
    min-width: 30%;
    list-style: square;
}

.todo { 
    border: solid black 3px; 
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: rgb(255, 255, 255);
    color: rgb(131, 131, 131);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    border-radius: 7px;
}

.todo li {
    flex: 1;
}
.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.complete-btn {
    background: #3755d8;
    padding-right: 20px;
}
.trash-btn {
  background: #caac03a1;
}
.trash-btn:hover{
    color: rgb(133, 16, 243);
    
} 
.complete-btn:hover{
    color:#caac03a1;
    
}
.todo-item { 
    padding: 0rem 0.5rem;
}
.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.slide {
    transform: translateX(10rem);
    opacity: 0;
}
select {  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select {
    margin-left:50px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    border: solid black 3px;
}
select {
    color:rgb(97, 97, 89);
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;  
}
.select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(77, 74, 74);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select::hover::after {
    background: rgb(224, 206, 206);
    color: rgb(87, 82, 82);
}